@font-face {
  font-family: iransans;
  src: url(font/iransans/ttf/IRANSansWeb.ttf);
}
@font-face {
  font-family: iransansnum;
  src: url(font/iransans/ttf-num/IRANSansWebFaNum.ttf);
}
@font-face {
  font-family: iransansbold;
  src: url(font/iransans/ttf/IRANSansWeb_Bold.ttf);
}
@import "~bootstrap/scss/bootstrap";
* {
  --dark: #616161;
  --text-color: #565656;
  --light: #ececec;
  --upbgcolor: rgba(235, 235, 235, 0.719);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  color: var(--dark);
  text-decoration: none;
}
.container {
  direction: rtl;
  font-family: iransans;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 95vw;
  max-width: 1364px;
  color: var(--text-color);
}
.uper {
  background-color: var(--upbgcolor);
  padding-bottom: 1em;
  margin-bottom: 10px;
}
.nav-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.log {
  margin-right: 5px;
  margin-left: auto;
  width: 150px;
  display: flex;
  font-size: 1rem;
}
.log span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.search-box {
  margin: 0 0 0 auto;
  display: flex;
  width: 40rem;
  height: 3rem;

  background-color: var(--light);
  border-radius: 30px;
  border: 2px solid gray;
}
.search-box img {
  margin: 0.5rem 1rem 0.5rem 0.1rem;
  max-width: 28px;
}
.search-box input {
  background-color: var(--light);
  border: none;
  width: 100%;
  max-width: 500px;
  margin: 0.5rem;
}
.logo {
  margin-left: 0;
  max-width: 111px;
  max-height: 63px;
}
.logo img {
  max-width: 111px;
  max-height: 63px;
}
.notif {
  display: flex;
  opacity: 90%;
  color: red;
  margin-right: 2em;
  margin-left: 2em;
}
.notif :nth-child(1) {
  margin-top: auto;
  width: 30px;
}
.notif :nth-child(2) {
  margin: auto 5px 0 5px;
  width: 30px;
}
.notif :nth-child(3) {
  width: 35px;
}
/***************nav links***************/
.nav-2 {
  padding-top: 1rem;
  padding: 1em 0 1em 0;
  font-size: 1em;
  display: flex;
}
.nav2-ul {
  display: flex;
  flex-wrap: wrap;
}
.nav-2 li {
  display: inline;
  padding: 0 0.6em 0 0.6em;
  transition: ease-in-out, 100ms;
}
.nav-2 li:hover {
  border-bottom: 2px solid rgb(213, 92, 92);
}
.nav-2 a {
  color: #383838;
  font-family: iransansbold;
  font-weight: 100;
}
#menu {
  display: none;
  margin-right: 2rem;
}
#hamberger-menu {
  cursor: pointer;
  border: transparent;
  background: transparent;
  font-size: 2rem;
  height: 1rem;
  width: 1rem;
}
#menu:hover {
  transition: all 0.3s linear;

  border: none;
}

/*************** hero with grid *************/
.hero {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  max-height: 40vw;
}
.heroimg {
  width: 100%;
  direction: ltr;
  margin-left: 5%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
}
.hero img {
  border-radius: 2vw;
}
.item-1 {
  margin: 0 0 0 auto;
  max-width: 93%;
}
.item-2 {
  margin: -38% 20% 0 auto;
  max-width: 63%;
}
.item-3 {
  margin: 0 0 0 15%;
  max-width: 68%;
}
.item-4 {
  margin: -5% 0 0 -5%;
  max-width: 71%;
}
.item-5 {
  margin: 0% 0% 0% -5%;
  max-width: 88%;
}
.item-6 {
  margin: -40% 0% 0 -5%;
  max-width: 63%;
}
.item-7 {
  margin: 0% 0% 0% 0%;
  max-width: 63%;
}
.item-8 {
  margin: 3% 0% 0% -25%;
  max-width: 73%;
}
/**************off price ************/
.offcnt-outer h2 {
  margin-right: 2rem;
}
.offcnt {
  background-color: var(--upbgcolor);
  font-family: iransansnum;
  padding: 1em;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: space-evenly;
}
.offcnt-c {
  margin-top: 1.5em;
}

.offcnt-pro-img {
  width: 100%;
  max-width: 80px;
  margin: 0.5em;
  border-radius: 10px;
}
.big-side-dwn img {
  width: 100%;
  max-width: 120px;
}

/***********small-side***************/
.small-side {
  display: grid;
  color: white;
  grid-template-columns: 1fr;
  grid-template-areas:
    "t"
    "d";
  margin: 0.8px;
  border-radius: 1em;
}
.small-side h3 {
  grid-area: t;
  font-size: 1em;
  margin: 0.5em;
}

.small-side-dwn {
  grid-area: d;
  display: grid;
  direction: ltr;
  grid-template-columns: 1fr 2fr;
}
.offcnt-pro-dtl {
  direction: rtl;
  display: flex;
  margin: 0.5em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.small-side1 {
  background-color: #272324;
}
.small-side2 {
  background-color: #b80101;
}
.small-side3 {
  background-color: #35754d;
}
.small-side4 {
  background-color: #4f4232;
}
/***********big-side***************/
.big-side {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  border-radius: 10px;
}
.big-side-title {
  text-align: center;
}
.big-side-title :nth-child(1) {
  margin-right: 60px;
}
.big-side-title :nth-child(2) {
  margin-left: 60px;
  margin-top: -15px;
}
.big-side-off {
  font-size: 2rem;
  font-family: iransansnum;
  margin-top: 1rem;
  margin-bottom: -1.5em;
  text-align: center;
}
.big-side-off :nth-child(1) {
  font-weight: 700;
  color: rgb(193, 74, 74);
  margin-left: 50px;
}
.big-side-off :nth-child(2) {
  direction: ltr;
  margin-right: 50px;
  margin-top: -30px;
}

.big-side1 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(245, 204, 212, 1) 52%,
    rgba(255, 255, 255, 1) 100%
  );
}
.big-side2 {
  background: linear-gradient(
    180deg,
    rgba(201, 222, 244, 1) 0%,
    rgba(245, 204, 212, 1) 52%,
    rgba(184, 1, 0, 1) 100%
  );
}
.big-side3 {
  background: linear-gradient(
    180deg,
    rgba(53, 117, 77, 1) 0%,
    rgba(245, 204, 212, 1) 52%,
    rgba(184, 164, 192, 1) 100%
  );
}
.big-side4 {
  background: linear-gradient(
    180deg,
    rgba(201, 222, 244, 1) 0%,
    rgba(245, 204, 212, 1) 52%,
    rgba(79, 66, 48, 1) 100%
  );
}
/*********************** best-sell START ***********************/
.best-sell {
  width: 100%;
}
.best-sell h3 {
  font-size: 0.9rem;
}
.best-sells {
  margin-top: 1rem;
  display: grid;
  justify-content: space-evenly;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.products {
  background-color: white;
  box-shadow: 1px 1px 100px 1px #a5a5a524;
  padding: 1rem;
  margin: 1em 0.5em 0 0.5em;
  max-width: 220px;
}
.proimg {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.order {
  margin-top: 0.1em;
  display: flex;
}
.off-price {
  margin-top: 1em;
  margin-right: 0.4em;
  font-family: iransansnum;
  display: block;
  text-decoration: line-through;
  color: rgba(34, 34, 34, 0.28);
}
.off-price::after {
  font-family: iransansnum;
  display: inline-flex;
  padding: 0.3em;
  text-decoration: none;
  font-size: 1rem;
  content: " 10%";
  color: #ffffff;
  background-color: #ff4141da;
  border-radius: 100%;
  margin-right: 0.5em;
}
.price {
  font-family: iransansnum;
  font-size: 1.5rem;
  margin-left: auto;
  display: inline;
}
.toman {
  display: inline;
}
.add-basket {
  color: white;
  direction: ltr;
  width: 20%;
  max-height: 2em;
  min-width: 1.4em;
  padding: 0.2em;
  display: inline-flex;
  background-color: #ff4141da;
  border-radius: 20%;
  margin-right: auto;
  margin-left: 8px;
}
.add-basket :nth-child(1) {
  display: flex;
  margin: auto;
  width: 80%;
}
/************* footer *************/
footer {
  width: 100%;
  background-color: var(--upbgcolor);
  background-image: url(../image/footer/bg-img.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 100%;
}
.footer-icons-area {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(128, 128, 128, 0.206);
  padding: 0.5em;
  flex-wrap: wrap;
  margin: 2em 2em 0 2em;
  border-radius: 60px;
}
.f-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em 0 0.5em;
}
.f-icon img {
  max-width: 40px;
}
/****** footer down ************/
.footer-down {
  color: black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1em;
  font-size: 0.9em;
}
.phone-adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.phone-adress img {
  max-width: 50px;
  margin-bottom: 0.6em;
}
.gray {
  color: rgb(170, 170, 170);
}
span {
  display: inline;
}
.clr-blu {
  color: #006eb8;
}
.mrg-l1em {
  margin-left: 1em;
}
.handi-link,
.log-social {
  margin-top: 3%;
}
strong {
  font-size: 1.2em;
  line-height: 3em;
}
.handi-link ul {
  list-style: none;
}
.handi-link li {
  margin-right: 0.5em;
  line-height: 2em;
}
.log-social ul {
  list-style: none;
}
.log-social img {
  max-width: 40px;
}
.inline-ul li {
  display: inline;
}
.inline-ul {
  margin-top: 0.3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mg-t1 {
  padding-top: 10em;
}
@media screen and (max-width: 875px) {
  .nav-1 {
    flex-wrap: wrap;
  }
  .search-box {
    margin-right: auto;
    margin-left: auto;
    order: 10;
  }
  .nav-2 {
    display: block;
  }
  .nav2-ul {
    transition: all 0.3s ease-in-out;
    height: 0px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-2 li {
    line-height: 2em;
  }
  #menu {
    display: flex;
  }
  .phone-adress,
  .handi-link,
  .log-social {
    padding: 0 5em 0 5em;
  }
  .log-social {
    text-align: center;
  }
  .display-flex {
    transition: all 0.3 ease-in-out;
    height: 250px;
    display: flex;
  }
}
