/*************** hero with grid *************/
.hero {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  max-height: 40vw;
}
.heroimg {
  width: 100%;
  direction: ltr;
  margin-left: 5%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
}
.hero img {
  border-radius: 2vw;
}
.item-1 {
  margin: 0 0 0 auto;
  max-width: 93%;
}
.item-2 {
  margin: -38% 20% 0 auto;
  max-width: 63%;
}
.item-3 {
  margin: 0 0 0 15%;
  max-width: 68%;
}
.item-4 {
  margin: -5% 0 0 -5%;
  max-width: 71%;
}
.item-5 {
  margin: 0% 0% 0% -5%;
  max-width: 88%;
}
.item-6 {
  margin: -40% 0% 0 -5%;
  max-width: 63%;
}
.item-7 {
  margin: 0% 0% 0% 0%;
  max-width: 63%;
}
.item-8 {
  margin: 3% 0% 0% -25%;
  max-width: 73%;
}
/**************off price ************/
.offcnt-outer h2 {
  margin-right: 2rem;
}
.offcnt {
  background-color: var(--upbgcolor);
  font-family: iransansnum;
  padding: 1em;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: space-evenly;
}
.offcnt-c {
  margin-top: 1.5em;
}

.offcnt-pro-img {
  width: 100%;
  max-width: 80px;
  margin: 0.5em;
  border-radius: 10px;
}
.big-side-dwn img {
  width: 100%;
  max-width: 120px;
}

/***********small-side***************/
.small-side {
  display: grid;
  color: white;
  grid-template-columns: 1fr;
  grid-template-areas:
    "t"
    "d";
  margin: 0.8px;
  border-radius: 1em;
}
.small-side h3 {
  grid-area: t;
  font-size: 1em;
  margin: 0.5em;
}

.small-side-dwn {
  grid-area: d;
  display: grid;
  direction: ltr;
  grid-template-columns: 1fr 2fr;
}
.offcnt-pro-dtl {
  direction: rtl;
  display: flex;
  margin: 0.5em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.small-side1 {
  background-color: #272324;
}
.small-side2 {
  background-color: #b80101;
}
.small-side3 {
  background-color: #35754d;
}
.small-side4 {
  background-color: #4f4232;
}
/***********big-side***************/
.big-side {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  border-radius: 10px;
}
.big-side-title {
  text-align: center;
}
.big-side-title :nth-child(1) {
  margin-right: 60px;
}
.big-side-title :nth-child(2) {
  margin-left: 60px;
  margin-top: -15px;
}
.big-side-off {
  font-size: 2rem;
  font-family: iransansnum;
  margin-top: 1rem;
  margin-bottom: -1.5em;
  text-align: center;
}
.big-side-off :nth-child(1) {
  font-weight: 700;
  color: rgb(193, 74, 74);
  margin-left: 50px;
}
.big-side-off :nth-child(2) {
  direction: ltr;
  margin-right: 50px;
  margin-top: -30px;
}

.big-side1 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(245, 204, 212, 1) 52%,
    rgba(255, 255, 255, 1) 100%
  );
}
.big-side2 {
  background: linear-gradient(
    180deg,
    rgba(201, 222, 244, 1) 0%,
    rgba(245, 204, 212, 1) 52%,
    rgba(184, 1, 0, 1) 100%
  );
}
.big-side3 {
  background: linear-gradient(
    180deg,
    rgba(53, 117, 77, 1) 0%,
    rgba(245, 204, 212, 1) 52%,
    rgba(184, 164, 192, 1) 100%
  );
}
.big-side4 {
  background: linear-gradient(
    180deg,
    rgba(201, 222, 244, 1) 0%,
    rgba(245, 204, 212, 1) 52%,
    rgba(79, 66, 48, 1) 100%
  );
}
