@font-face {
  font-family: iransans;
  src: url(font/iransans/ttf/IRANSansWeb.ttf);
}
@font-face {
  font-family: iransansnum;
  src: url(font/iransans/ttf-num/IRANSansWebFaNum.ttf);
}
@font-face {
  font-family: iransansbold;
  src: url(font/iransans/ttf/IRANSansWeb_Bold.ttf);
}
@font-face {
  font-family: iranyekan;
  src: url(font/iranyekan/IRANYekanWeb.ttf);
}
@font-face {
  font-family: iranyekan-bold;
  src: url(font/iranyekan/IRANYekanWeb-Bold.ttf);
}
// @import "~bootstrap/scss/bootstrap";
* {
  --dark: #616161;
  --text-color: #3a3a3a;
  --light: #ececec;
  --upbgcolor: rgba(235, 235, 235, 0.719);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  color: var(--dark);
  text-decoration: none;
}
.container {
  direction: rtl;
  font-family: iransans;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 95vw;
  max-width: 1336px;
  color: var(--text-color);
}
.uper {
  background-color: var(--upbgcolor);
  padding-bottom: 1em;
  margin-bottom: 10px;
}
.nav1-continer {
  direction: rtl;
  font-family: iransans;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 95vw;
  max-width: 1336px;
  color: var(--text-color);
  // width: 100%;
}
.nav-1 {
  display: grid;
  max-width: 1336px;
  width: 100%;
  // justify-content: center;
  grid-template-areas: "logo logo search search search log log notif";
}
.nav-fix {
  background-color: rgb(235, 235, 235);
  z-index: 10;
  position: fixed;
  width: 100%;
  max-width: 100%;
}
.logo {
  margin-left: 0;
  max-width: 111px;
  max-height: 63px;
  grid-area: logo;
}
.logo img {
  max-width: 111px;
  max-height: 63px;
}
.search-box {
  margin: 0 auto 0 auto;
  display: flex;
  width: 100%;
  min-width: 20rem;
  max-width: 30rem;
  height: 3rem;
  background-color: var(--light);
  border-radius: 30px;
  border: 2px solid gray;
  grid-area: search;
}
.search-box img {
  margin: 0.5rem 1rem 0.5rem 0.1rem;
  max-width: 28px;
}
.search-box input {
  background-color: var(--light);
  border: none;
  width: 100%;
  max-width: 500px;
  margin: 0.5rem;
}
.log {
  margin-right: auto;
  width: 108px;
  display: flex;
  font-size: 1rem;
  grid-area: log;
  justify-content: center;
  align-items: center;
}
.log span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.notif {
  display: flex;
  opacity: 90%;
  color: red;
  grid-area: notif;
  align-items: center;
  justify-content: center;
}
.notif button {
  border: 2px solid red;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
}
.show-basket-btn {
  position: relative;
  background-image: url("../image/icon/basket.svg");
}
// .notid-compar-btn {
//   background-image: url("../image/icon/Compare.png");
// }
// .notif-like-btn {
//   background-image: url("../image/icon/heart.svg");
// }
.order-num {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #d52405;
  border-radius: 50%;
  color: white;
  font-family: iransansnum;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
}
#menu {
  display: none;
  grid-area: menu;
  // margin-right: 2rem;
}
#hamberger-menu {
  cursor: pointer;
  border: transparent;
  background: transparent;
  font-size: 2rem;
  height: 1rem;
  width: 1rem;
}
#menu:hover {
  transition: all 0.3s linear;
  border: none;
}
/***************nav links***************/
.nav-ul-container {
  transition: all 0.25s ease-in-out;
  height: 25px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
.nav-2 {
  // margin-top: 4rem;
  padding-top: 1rem;
  padding: 1em 0 1em 0;
  font-size: 1em;
  display: flex;
}
.nav2-ul {
  display: flex;
  flex-wrap: wrap;
}
.nav-2 li {
  display: inline;
  padding: 0 0.6em 0 0.6em;
  transition: ease-in-out, 100ms;
}
.nav-2 li:hover {
  border-bottom: 2px solid rgb(213, 92, 92);
}
.nav-2 a {
  color: #383838;
  font-family: iransansbold;
  font-weight: 100;
}
/*********************** best-sell START ***********************/
.best-sell {
  direction: rtl;
  width: 100%;
}
.best-sell h3 {
  font-size: 0.9rem;
}
.best-sells {
  margin-top: 1rem;
  display: grid;
  justify-content: space-evenly;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.products {
  background-color: white;
  box-shadow: 1px 1px 100px 1px #a5a5a524;
  padding: 1rem;
  margin: 1em 0.5em 0 0.5em;
  max-width: 220px;
  border-radius: 5px;
}
.products h3 {
  font-size: 0.8rem;
}
.proimg {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.order {
  margin-top: 0.1em;
  display: flex;
}
.off-price {
  margin-top: 1em;
  margin-right: 0.4em;
  font-family: iransansnum;
  display: block;
  text-decoration: line-through;
  color: rgba(34, 34, 34, 0.28);
}
.off-price::after {
  font-family: iransansnum;
  display: inline-flex;
  padding: 0rem 0.1em;
  text-decoration: none;
  font-size: 0.8rem;
  content: " %10";
  color: #ffffff;
  background-color: #f66a86;
  border-radius: 5px;
  margin-right: 0.5em;
}
.price {
  font-family: iransansnum;
  font-size: 1rem;
  margin-left: auto;
  display: inline;
}
.toman {
  display: inline;
  font-size: 0.6rem;
}
.add-basket {
  color: white;
  direction: ltr;
  width: 20%;
  max-height: 2em;
  min-width: 1.4em;
  padding: 0.2em;
  display: inline-flex;
  background-color: #ff5353da;
  border-radius: 20%;
  margin-right: auto;
  margin-left: 8px;
}
.add-basket :nth-child(1) {
  display: flex;
  margin: auto;
  width: 80%;
}
.swiper {
  width: 100%;
  height: 330px;
  background-color: slategray;
  border-radius: 10px;
}
.swiper-slide {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Bestsellers-title {
  height: 80%;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.804);
}
.Bestsellers-title button {
  background-color: transparent;
  border: transparent;
  font-weight: 600;
  color: #dae3e2;
}
.Bestsellers-title a {
  color: #dae3e2;
}

/************* footer *************/
footer {
  width: 100%;
  background-color: var(--upbgcolor);
  background-image: url(../image/footer/bg-img.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 100%;
}

.footer-icons-area {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(128, 128, 128, 0.206);
  padding: 0.5em;
  flex-wrap: wrap;
  margin: 2em 2em 0 2em;
  border-radius: 60px;
}
.f-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em 0 0.5em;
}
.f-icon img {
  max-width: 40px;
}
/****** footer down ************/
.footer-down {
  color: black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1em;
  font-size: 0.9em;
}
.phone-adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.phone-adress img {
  max-width: 50px;
  margin-bottom: 0.6em;
}
.gray {
  color: rgb(170, 170, 170);
}
span {
  display: inline;
}
.clr-blu {
  color: #006eb8;
}
.mrg-l1em {
  margin-left: 1em;
}
.handi-link,
.log-social {
  margin-top: 3%;
}
strong {
  color: #006eb8;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 500;
}
.handi-link ul {
  list-style: none;
}
.handi-link li {
  margin-right: 0.5em;
  line-height: 2em;
}
.log-social ul {
  list-style: none;
}
.log-social img {
  max-width: 25px;
}
.inline-ul li {
  display: inline;
}
.inline-ul {
  margin-top: 0.3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mg-t1 {
  padding-top: 10em;
}
//***************** show basket ******/
.show-basket {
  direction: rtl;
  font-family: iranyekan;
  z-index: 15;
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px #38383823;
  width: 400px;
  border-radius: 10px;
  // left: 400px;
  // top: 60px;
}
.sh-b-up {
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.276);
  padding: 0.5rem 1rem;
  // border: 2px solid #f66a86;
}
.sh-b-up-num {
  direction: rtl;
}
.sh-b-up-go {
  cursor: pointer;
  font-family: iranyekan-bold;
  color: #006eb8;
}
.sh-b-mid {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}
.sh-b-mid article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.36);
}
.sh-b-mid i {
  margin-left: 0.5rem;
}
.sh-b-mid-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 2px solid #006eb8;
  width: 35%;
  height: 100%;
}
.sh-b-mid-img {
  width: 100%;
  height: 100%;
}
.sh-b-mid-mode {
  margin: 1rem;
}
.sh-b-mid-left {
  width: 62%;
  // border: 2px solid #f66a86;
}
.sh-b-mid-title {
  font-family: iranyekan-bold;
}
.sh-b-mid-moadel {
  color: #565656;
}
.sh-b-mid-moadel i {
  color: #006eb8;
}
.sh-b-mid-avalble {
  color: #565656;
}
.sh-b-mid-avalble i {
  color: #006eb8;
}
.sh-b--mid-off {
  margin-top: 10px;
  color: crimson;
}
.sh-b--mid-off i {
  color: #f66a86;
}
.sh-b--mid-price {
  font-family: iransansnum;
  font-size: 1.2rem;
}
.sh-b-down {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -2px -2px 5px rgba(128, 128, 128, 0.306);
}
.sh-b-down-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sh-b-down-right:first-child {
  color: #565656;
}
.submit-bascket {
  cursor: pointer;
  font-family: iransans;
  padding: 1rem 1.7rem;
  color: white;
  border: transparent;
  box-shadow: 2px 2px 5px gray;
  background-color: tomato;
  border-radius: 10px;
}
.delete-prod-frombsket-btn {
  background-image: url(../image/icon/delete-icon.svg);
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.sh-b-totalPrice {
  color: black;
  font-size: 1.4rem;
  font-family: iransansnum;
}
.display-basket-card {
  display: flex;
}
//***********end of show basket****/
.container {
  max-width: 1336px;
}
//*********quant**********/
.quantity {
  display: flex;
  align-items: flex-start;
  margin: 0em 0.5em 0em 0em;
}
.quantity span {
  margin-left: 1em;
}
.quantity-intro {
  display: flex;
  border: 2px solid rgba(16, 87, 201, 0.417);
  width: 70px;
  height: 22px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}
.quantity-intro img {
  width: 15px;
}
.btn-r {
  margin-top: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: center;
  width: 30%;
  cursor: pointer;
  /* border: 1px solid green; */
}
.btn-r input {
  box-shadow: none;
  width: 15px;
  background-image: url(../image/icon/plus.svg);
  background-color: white;
  background-position: center;
  background-size: 15px;
  border: none;
  cursor: pointer;
}
.btn-m {
  display: inline;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  width: 33%;
}
.btn-l {
  /* margin-top: 3px; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  width: 30%;
  cursor: pointer;
}
.btn-l input {
  box-shadow: none;
  width: 15px;
  background-image: url(../image/icon/minus.svg);
  background-color: white;
  background-position: center;
  background-size: 15px;
  border: none;
  cursor: pointer;
}
.quantity-num {
  display: inline;
  font-family: iransansnum;
  font-size: 1em;
  width: 20px;
  height: 18px;
  border: none;
  appearance: textfield;
  text-align: center;
  background-color: none;
}
////*********quant end ************/
@media screen and (min-width: 875px) {
  .nav-ul-container {
    transition: all 0.25s ease-in-out;
    height: 25px;
    overflow: hidden;
  }
}
@media screen and (max-width: 875px) {
  .nav-1 {
    flex-wrap: wrap;
    grid-template-areas:
      "logo logo log log"
      "menu search search notif";
  }
  .logo {
    margin-left: auto;
  }
  .search-box {
    min-width: 10rem;
    margin: 0px;
  }
  .log {
    margin-left: 1rem;
  }
  #menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    // margin-right: 1rem;
  }
  #menu i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .notif {
    margin-right: auto;
    margin-left: 1rem;
  }
  .nav-2 {
    display: block;
  }
  header {
    transition: all 0.25s ease-in-out;
    height: 0px;
  }
  .nav-ul-container {
    transition: all 0.25s ease-in-out;
    height: 0px;
    overflow: hidden;
  }
  .nav2-ul {
    display: flex;
    transition: all 0.25s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-2 li {
    line-height: 2em;
  }
  .phone-adress,
  .handi-link,
  .log-social {
    padding: 0 5em 0 5em;
  }
  .log-social {
    text-align: center;
  }
}
